.unique-content {
  max-width: 1240px;
  margin: 150px auto;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;

  .image {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    flex: 1;
    border: 1px solid #ee161e;

    // clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
  }

  .description {
    flex: 1;

    .headline {
      display: flex;
      gap: 50px;
      align-items: center;

      h1 {
        font-family: "Inter";
        letter-spacing: 2px;
        font-size: 20px;
      }

      button {
        padding: 5px 10px;
        cursor: pointer;
        background: #ee161e;
        // clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
        color: #333;
        border: none;
      }
    }

    h2 {
      margin-top: 60px;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 2px;
    }

    .detail {
      margin-top: 20px;
      margin-left: 15px;
      padding: 30px 0 30px 20px;
      //   border-left: 1px solid #ee161e;

      li {
        margin: 10px 0;
        font-size: 18px;
      }
    }
  }
}

@media screen and (width < 774px) {
  .unique-content {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }
}
