.navbar {
  width: 100%;
  height: 120px;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3000;
  padding-right: 20px;

  .navbar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    a {
      height: 80px;
    }

    .navbar-logo {
      height: 7.8rem;
    }

    .nav {
      margin-left: 1.2rem;
      display: flex;
      width: 100%;
      justify-content: space-around;

      .nav-link {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
        font-weight: 300;
        margin-top: 20px;
        width: 22.5rem;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .active {
        color: #ee161e;
      }
    }
  }
  .btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
    padding: 5px;
    color: #f1f1f1;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  .navbar {
    height: 120px;
    // padding-right: 20px;

    .navbar-container {
      .navbar-logo {
        height: 7.5rem;
      }
      .nav {
        .nav-link {
          font-size: 2.5rem;
          width: 25rem;
          height: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .navbar {
    height: 80px;
    padding-right: 20px;

    .navbar-container {
      .navbar-logo {
        height: 5rem;
      }
      .nav {
        .nav-link {
          font-size: 1.6rem;
          width: 12rem;
          height: 60px;
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .navbar {
    height: 80px;
    padding-right: 20px;

    .navbar-container {
      .navbar-logo {
        height: 5rem;
      }
      .nav {
        .nav-link {
          font-size: 1.6rem;
          width: 12rem;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    height: 80px;
    padding-right: 50px;

    .navbar-container {
      .navbar-logo {
        height: 5rem;
      }
      .nav {
        .nav-link {
          font-size: 1.6rem;
          width: 12rem;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 80px;

    .navbar-container {
      .navbar-logo {
        height: 5rem;
      }
      .nav {
        .nav-link {
          font-size: 1.4rem;
          width: 8rem;
          height: 60px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    height: 80px;

    .navbar-container {
      .navbar-logo {
        height: 5rem;
      }
      .nav {
        .nav-link {
          font-size: 1.2rem;
          width: 6rem;
          height: 50px;
          margin-top: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .navbar {
    height: 80px;
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;

      .navbar-logo {
        width: 12rem;
        height: 80px;
      }
      .nav {
        margin-left: 0;
        // position: absolute;
        flex-direction: column;
        .nav-link {
          background: #000;
          color: crimson;
          margin: 0 auto;
          height: 70px;
          width: 116%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        .btn {
          display: block;
        }
      }
    }
    .btn {
      display: block;
    }
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    height: 80px;
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;

      .navbar-logo {
        width: 12rem;
        height: 80px;
      }
      .nav {
        margin-left: 0;
        // position: absolute;
        flex-direction: column;
        .nav-link {
          background: #000;
          color: crimson;
          margin: 0 auto;
          height: 70px;
          width: 125%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        .btn {
          display: block;
        }
      }
    }
    .btn {
      display: block;
    }
  }
}
// @media screen and (max-width: 460px) {
//   .navbar {
//     // height: 80px;
//     .navbar-container {
//       // flex-direction: column;
//       // align-items: flex-start;

//       // .navbar-logo {
//       //   width: 12rem;
//       //   height: 80px;
//       // }
//       .nav {
//         margin-left: 0;
//         // position: absolute;
//         flex-direction: column;
//         .nav-link {
//           background: #000;
//           // color: crimson;
//           // margin: 0 auto;
//           // height: 70px;
//           // width: 125%;
//           // display: flex;
//           // justify-content: center;
//           // align-items: center;
//           // border-top-left-radius: 0;
//           // border-top-right-radius: 0;
//         }

//         .btn {
//           display: block;
//         }
//       }
//     }
//     .btn {
//       display: block;
//     }
//   }
// }
